# مفتاح Mistral AI
MISTRAL_API_KEY="97ZQlsV45YrDusgZRwjArWGbh3nerFPb"

# إعدادات Supabase
SUPABASE_URL="https://fdnruljygqbpidrspyyl.supabase.co"
SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZkbnJ1bGp5Z3FicGlkcnNweXlsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc1ODU2MzIsImV4cCI6MjA3MzE2MTYzMn0.ZPbraTaW7InlPCiuD8kIsi7ZogSqzbmj1iw3vXAmxHQ"
